body {
    background-color: limegreen;
  }

  body {
    font-family: 'Comic Sans MS', sans-serif;
    text-align: center
  }
  h1 {
    color: powderblue;
  }
  p {
    color: blue;
  }

  .bonk-button {
    background-color: red
}

.bonk-button:hover {
    background-color: darkred
}
